html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* font-family: "Raleway", sans-serif; */
/* font-family: "Roboto", sans-serif; */
img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
}

.container{
    max-width:1158px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* HEADER */
header {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-logo-link{
    font-family: "Raleway", sans-serif ;
    font-weight: 700;
    font-size: 18px;
    line-height:1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

header .container {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

header nav {
    display: flex;
    align-items: center;
}

.header-logo-word {
    color: #2E2F42;
}
header nav .nav-items {
    display: flex;
    gap: 40px;
}

header nav .nav-items .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header nav .nav-items .menu-link.active {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header nav .nav-items .menu-link.active::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

header nav .nav-items .menu-link:hover{
    color: #404bbf;
}
.header nav .nav-items .menu-link:focus {
    color: #404bbf;
}
address {
    font-style: normal;
}
address ul {
    display: flex;
    gap: 40px;
    margin-left1: 332px;
}

address .address-list .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

address .address-list .address-link:hover {
    color: #404bbf;
}

address .address-list .address-link:focus {
    color: #404bbf;
}

/* HEADER */

/* HERO SECTİON */

.section-hero-image{
    background-color: #2E2F42;
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
}

.section-hero-image .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-hero-image-header{
    text-align: center;
    color: white;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin-bottom: 48px;
}
.section-hero-image-btn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5 ;
    color: white;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-hero-image-btn:hover{
    background-color: #404BBF;
}
.section-hero-image-btn:focus {
    background-color: #404BBF;
}

/* HERO SECTİON */

/* SECTION SECOND */

.section-second {
    background-color: #FFFFFF;
    padding: 120px 0
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-second .container .section-second-list {
    display: flex;
    gap: 24px;
}

.section-second-list .list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.section-second .container .section-second-list-item {
    width: calc((100% - 72px) / 4);
}

.section-second-list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.section-second-list-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}
/* SECTION SECOND */

/* SECTION THIRD */
.section-third {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.section-third-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}
.section-third-list{
    display: flex;
    gap: 24px;
}

.section-third-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

section .container .social-media {
    display: flex;
    justify-content: center;
    gap: 24px;
    font-size: 20px;
    margin: 8px auto;
}

section .container .social-media .s-link {
    width: 40px;
    height: 40px;
}

section .container .social-media .s-link .media-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

section .container .social-media .s-link .media-link:hover {
    background-color: #404bbf;
}

section .container .social-media .s-link .media-link:focus {
    background-color: #404bbf;
}

section .container .social-media .s-link .media-link .team-svg {
    fill: #f4f4fd;
}

section .container .our-team-list .our-teams .team-member {
    margin-top: 32px;
}

.section-third-item-header {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;
}

.section-third-item-content{
    padding: 32px 0;
}

.section-third-item-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

/* SECTION THIRD */

/* SECTION FOURTH */

.section-fourth {
    background-color: #FFFFFF;
    padding: 120px 0;
}

.section-fourth-header {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.section-fourth-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.section-fourth-item{
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-fourth-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-fourth-list .section-fourth-item:hover .item-img-p {
    transform: translateY(0%);
}

.section-fourth-item .section-fourth-item-img {
    position: relative;
    overflow: hidden;
}

.section-fourth-item .section-fourth-item-img .item-img-p{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-fourth-item-content{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.section-fourth-item-header {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.section-fourth-item-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* SECTION FOURTH */

/* FOOTER */

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}
footer .container {
    display: flex;
    align-items: baseline;
}
footer .container .footer-logo {
    margin-right: 120px;
}
.footer-logo-a {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
        margin-bottom: 16px;
}

.footer-logo-word {
    color: #F4F4FD;
}

.footer-p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}
footer .container .social-icon-footer .social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

footer .container .social-icon-footer .social-list {
    display: flex;
    gap: 16px;
}

footer .container .social-icon-footer .social-list .social-link {
    width: 40px;
    height: 40px;
}

footer .container .social-icon-footer .social-list .social-link .s-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .container .social-icon-footer .social-list .social-link a {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer .container .social-icon-footer .social-list .social-link .s-link:hover {
    background-color: #31d0aa;
}

footer .container .social-icon-footer .social-list .social-link .s-link:focus {
    background-color: #31d0aa;
}


footer .container .social-icon-footer .social-list .social-link .s-link .icon-social {
    fill: #f4f4fd;
}

footer .container .subscribe-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.subscribe-footer .form-email{
    background-color: transparent;
    width: 264px;
    height: 40px;
    border: 1px solid white;
    color: white;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.subscribe-footer-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: white;
    cursor: pointer;
    display: block;
    min-width: 165px;
    height: 40px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe-footer{
    margin-left: 80px;
}
.subscribe-footer-form{
    display: flex;
    gap:24px;
}
.ico-send{
    margin-left: 16px;
}
/* FOOTER */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: none;
}
.modal-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;

}
.modal-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover{
    background-color: #404bbf;
    border: none;
}
.modal-btn:focus {
    background-color: #404bbf;
    border: none;
}
.ico-close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover .ico-close {
    fill: #ffffff
}

.modal-btn:focus .ico-close {
    fill: #ffffff
}
.modal-p{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}
.modal-form-div{
    margin-bottom: 8px;
}
.modal-form-div-pp{
margin-bottom: 24px;
}
.form-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;

}
.form-item{
    position: relative;
}
.form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
    border-color: #4D5AE5;
}
.form-item-ico{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .form-item-ico{
    fill: #4D5AE5;
}
.form-comment-div{
margin-bottom: 16px;
}
.form-comment{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment:focus{
    border-color: #4D5AE5;
}
.form-label-user-privacy{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.form-span-pp {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

}
.form-cbox-pp:checked + label .form-span-pp{
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
.form-pp-link{
    color: #4d5ae5;
}
.modal-btn-send{
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: auto;
}

@media screen and (min-width: 320px)and (max-width:767px) {

}
@media screen and (min-width: 768px) and (max-width:1157px) {
    .container{
        width:100%;
        padding: 0 16px;
    }
    .header{
        padding: 16px;
    }
    .header .container{
        padding: 0;
    }
    .address-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
            
    }
    address .address-list .address-link{
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    }

    .section-second {
        padding: 96px 0;
    }

    .section-second .container .section-second-list {
        display: flex;
        gap: 24px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-second .container .section-second-list-item {
        width: calc((100% - 24px) / 2);
    }

    .section-second-list .list-icon{
        display: none;
    }
    .section-second-list-header {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
    }
    .section-second-list-paragraph {
        font-weight: 500;
        font-size: 16px;
    }

    .section-third {
        padding: 96px 0;
    }

    .section-third-header {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
    }

    .section-third .container .section-third-list {
        display: grid;
        grid-template-columns: auto auto;
        gap: 24px;
        justify-content: center;
        row-gap: 64px;
    }

    .section-third .container .section-third-item {
        width: 264px;
    }

    .section-fourth {
        padding: 96px 0;
    }

    .section-fourth-header {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
    }

    .section-fourth-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        justify-content: center;
    }

    .section-fourth-item {
        width: 356px;
    }

    footer .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        row-gap: 72px;
    }
    footer .container .footer-logo {
        margin-right: 0;
    }
        .subscribe-footer {
            margin-left: 0;
        }

}
@media screen and (min-width: 1158px) {}